@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintBarcodePreview</title>
    @Scripts.Render("~/bundles/PrintBarcodePreview")
    @Styles.Render("~/Content/PrintBarcodePreview")
    <script type="text/javascript">
        PBP.BarcodeType = @ViewBag.BarcodeType;
        PBP.DateToday = "@System.DateTime.Now.ToString(OPBids.Common.Constant.DateFormat)";
    </script>
</head>
<body id="barcodeContainer">
</body>
</html>
