@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@Html.ActionLink("view pdf", "getpdf", "shared", new { id = "37" }, new { @class = "pdflink", target = "_blank", @style = "display:true" })

<p>Use this area to provide additional information.</p>
