@model OPBids.Entities.View.Home.DashboardTableHeaderVM
<div>
    
    <div class="col-lg-2 col-sm-12">
        <h1>@Model.title</h1>
    </div>
    <div class="col-lg-8 col-sm-12">
        filter here
    </div>
    <div class="col-lg-2 col-sm-12">
        <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
    </div>

</div>
