<div data-backdrop="static" class="modal project-request fade" id="dataRankBidderModal" tabindex="-1" role="dialog" aria-labelledby="dataRankBidderModal" aria-hidden="true">
    <div class="modal-dialog" style="min-width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-1 circle-div-container"><div class="circle-div"><span id="bidlist_proj_id" style="font-size: 30px"></span></div></div>
                    <div class="col-md-4 modal-title-container">
                        <h4 class="modal-title" style="font-weight:bold;">
                            <span id="bidlist_proj_title"></span>
                            <span id="processId" style="visibility: hidden"></span>
                        </h4>
                    </div>
					<button type="button" class="close glyphicon glyphicon-remove-circle" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
			<h3 class="col-lg-12 col-md-12 col-sm-12 align-right"><a class="fa fa-download fa-dialog"></a>&nbsp;<a class="fa fa-print fa-dialog"></a></h3>
            <div class="modal-container">
                <div style="border-bottom: 1px solid #ccc; margin-bottom: 20px">
                    <table id="table_bidder_list_summary">
                        <tr>
                            <td width="200px" class="text-left" style="vertical-align: top"><label>Project Description :</label></td>
                            <td width="750px"><span id="bidlist_proj_desc"></span></td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-left"><label>Approved Budget :</label></td>
                            <td width="750px"><span class="green">₱</span>&nbsp;<span id="bidlist_approved_budget" class="green"></span>&nbsp;(<span id="bidlist_procurement_method"></span>)</td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-left"><label>Requested By :</label></td>
                            <td width="750px"><span id="bidlist_requested_by"></span>&nbsp;for&nbsp;<span id="bidlist_grantee"></span></td>
                        </tr>
                        <tr>
                            <td width="200px" class="text-left"><label>Category :</label></td>
                            <td width="750px"><span id="bidlist_classification"></span>&nbsp;-&nbsp;<span id="bidlist_category"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="div_bidder_list">
            </div>
            <div id="div_prepared" class="modal-container" style="border-bottom: 1px solid #ccc">
                <table>
                    <tr style="line-height: 40px" class="align-right">
                        <td width="100px"><label>Prepared By&nbsp;:</label></td>
                        <td width="250px"><input type="text" id="bidlist_prepared_by" class="form-control" style="width: 250px" /></td>
                    </tr>
                    <tr>
                        <td class="align-right"><label>Prepare Date&nbsp;:</label></td>
                        <td><input type="text" id="bidlist_prepared_date" class="form-control" style="width: 250px" datetime/></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer" data-project-id="@ViewData["project_id"]">
                <div style="float:left;">
                    <span style="margin-right: 15px">Legend :</span>&nbsp;
                    <label class="blue">FC</label>&nbsp;-&nbsp;<span style="margin-right: 40px">For Checking</span>
                    <label class="green">P</label>&nbsp;-&nbsp;<span style="margin-right: 40px">Passed</span>
                    <label class="red">DQ</label>&nbsp;-&nbsp;<span>Disqualified</span>
                </div>
				<div style="float:right;">
					<button type="button" class="btn btn-dialog" id="btnPrintBidResult"><i class="fa fa-print fa-dialog"></i> Print Result</button>
				</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var RANKBIDDER = {
        Initialize: function () {
            Site.GenerateControls("#dataRankBidderModal");
            $(".modal-footer #btnPrintBidResult").unbind().click(function () {
                var id = $("#dataRankBidderModal #bidlist_proj_id").html();
                window.open("/report/LCBMemo/" + id);
            });
        },
        SetData: function (id, row_data) {
            $("#dataRankBidderModal #bidlist_proj_id").html(id);
            $("#dataRankBidderModal #bidlist_proj_title").html(row_data.data("title"));
            $("#dataRankBidderModal #bidlist_proj_desc").html(row_data.data("description"));
            $("#dataRankBidderModal #bidlist_approved_budget").html(row_data.data("approved-budget"));
            $("#dataRankBidderModal #bidlist_procurement_method").html(row_data.data("procurement-method"));
            $("#dataRankBidderModal #bidlist_requested_by").html(row_data.data("created-by-name"));
            $("#dataRankBidderModal #bidlist_grantee").html(row_data.data("grantee"));
            $("#dataRankBidderModal #bidlist_classification").html(row_data.data("classification-desc"));
            $("#dataRankBidderModal #bidlist_category").html(row_data.data("category-desc"));
        }
    }
    $(function () {
        RANKBIDDER.Initialize();
    });
</script>