
<style>
    #documentReceiveModal .modal-body .sectionTab .tabCaption {
        width: 150px;
    }
    .scan-barcode-section input[type=text] {
        height: 50px;
        font-size: 30px;
        border: 2px solid limegreen;
    }

    .scan-barcode-section input[type=submit] {
        padding-top: 5px;
        height: 40px;
        font-size: 20px;
    }

    .scan-barcode-section .section-content {
        margin-bottom: 0px;
    }
</style>

<div class="scan-barcode-section">
    <div class="section-content">
        <div class="row">
            <div class="col-md-8 col-md-push-1">
                <input type="text" id="scan_barcode_ref" required maxlength="20" style="height: 40px;font-size: 20px;border: 2px solid limegreen;" class="form-control" height="30" size="40" placeholder="Scan Barcode or Type Project Reference No here.." caption="Barcode or Project Reference No" />
            </div>
            <div class="col-md-2 col-md-push-1" style="padding-top: 5px;">
                @*<input type="submit" value="View Project" class="form-control btn btn-track fa-align-left icon ion-search" />*@
                <button id="btnTrackNow" type="button" class="form-control btn btn-track fa-align-left icon ion-search view-scan-project">View Project</button>
            </div>
        </div>
    </div>
</div>

<div data-backdrop="static" class="modal fade project-request" id="documentReceiveModal" tabindex="-1" role="dialog" aria-labelledby="saveModal" aria-hidden="true">
    <div class="modal-dialog" style="min-width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-7 modal-title-container" style="margin-left: 25px;">
                        <span class="modal-title">
                            <span>Documents Receiving Form</span>
                            <span id="processId" style="display: none"></span>
                        </span>
                    </div>
                    <div class="col-md-4 text-right" style="color: #fff; margin: 25px 0px 0px 0px; padding-right: 0px;">
                        <label>Status:&nbsp;</label><span class="modal-status" style="padding-right: 15px"></span>
                    </div>
                    <button type="button" class="close glyphicon glyphicon-remove-circle" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
            <table class="modal-body" style="width:100%;">
                <tr>
                    <td style="width:10%; vertical-align:top;border-right: 1px solid #d8d8d8;">
                        <div class="sectionTab"><button type="button" id="generalTab" formid="formGeneral" class="tabCaption">Project Info</button></div>
                        @*<div class="sectionTab"><button type="button" id="itemizedTab" formid="formItems" class="tabCaption">Itemized Request</button></div>*@
                        <div class="sectionTab"><button type="button" id="attachmentsTab" formid="formAttachments" class="tabCaption">Attachments</button></div>
                        <div class="sectionTab"><button type="button" id="logsTab" formid="formLogs" class="tabCaption">Logs</button></div>
                    </td>
                    <td style="width:90%;padding-top:10px;">
                        <div class="DrawConfidential">
                            <form id="formGeneral" style="min-height:450px;padding:10px;vertical-align:top;">
                                <div id="progressContainer"></div>
                                <hr style="margin-top: 0px;" />
                                @Html.Partial("~/Views/ProjectRequest/_DisplayTemplates/DocumentReceive.cshtml", new OPBids.Entities.View.ProjectRequest.ProjectRequestVM())
                            </form>
                            @*<form id="formItems" style="min-height:450px;padding:10px;vertical-align:top;">
                            @Html.Partial("~/Views/ProjectRequest/_DisplayTemplates/ProjectRequestItems.cshtml")
                        </form>*@

                            <form id="formAttachments" style="min-height:450px;padding:10px;vertical-align:top;">
                                <div style="display:inline-block;float:left;height:146px;width:140px;margin: 10px;text-align:center;">
                                    <button type="button" id="btnBrowse" class="btnBrowse" style="margin-top:30px;">+</button>
                                    <input type="file" id="fleBrowse" style="display:none;" />
                                </div>
                            </form>
                            <form id="formLogs" style="height:450px;padding:10px;vertical-align:top;">
                                @Html.Partial("~/Views/ProjectRequest/_DisplayTemplates/ProjectLogs.cshtml")
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
            @*<div class="modal-footer">
            <span id="footerNote" style="float:left;padding-left:120px;"></span>
            <button type="button" class="btn btn-danger btn-dialog" id="btnCancel" data-dismiss="modal"><i class="fa fa-close fa-dialog"></i> Cancel</button>
            <button type="button" class="btn btn-primary btn-dialog" id="btnReceiveDocument"><i class="fa fa-check fa-dialog"></i> Receive</button>
        </div>*@


            <div class="modal-footer" style="padding-top:0px;">
                <div id="barcodeNote" class="note text-left" style="padding-left:20px;">Please scan barcode to accept physical documents.</div>
                <div class="col-md-6" id="barcodeAttachmentScan"><input type="text" id="txtBarcodeValidate" placeholder="Scan here..." class="form-control" maxlength="20" required caption="Barcode" /></div>
                <div class="col-md-3 text-left" style="max-width:180px;"><span class="note" id="validatedEntries" style="line-height:34px;"></span></div>
                <button type="button" id="btnReceiveDocument" class="ui-button ui-corner-all ui-widget positiveDialogButton" style="display:none;"><span style="position:relative;left:-5px;"></span>&nbsp;Receive</button>
                <button type="button" id="btnAccept" class="ui-button ui-corner-all ui-widget positiveDialogButton" style="display:none;"><span style="position:relative;left:-5px;"></span>&nbsp;Accept</button>
                <button type="button" id="btnCancel" class="ui-button ui-corner-all ui-widget negativeDialogButton" data-dismiss="modal"><span style="position:relative;left:-5px;"></span>&nbsp;Close</button>
            </div>


        </div>
    </div>
</div>
@Html.Partial("~/Views/ProjectRequest/_EditorTemplates/DocumentNotes.cshtml")