<div class="loading hidden">Loading&#8230;</div>

<div style="display:inline-block;float:left;height:146px;width:140px;margin: 10px;text-align:center;">
    <button type="button" id="addfile" class="btnBrowse" style="margin-top:30px;">+</button>
    <input type="file" id="file1" style="display:none;" multiple />
</div>

<script src="~/Scripts/Shared/DragDropFileUpload.js"></script>