
<div id="projectRequestItems">
    <div class="scroller" style="overflow-y:scroll; height:350px; margin-top:10px; width: 100%">
        <table id="projectItems" class="project-items table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width:30px">#</th>
                    <th scope="col" style="width:80px">Unit</th>
                    <th scope="col">Item Description</th>
                    <th scope="col" style="width:80px" class='text-right'>Quantity</th>
                    <th scope="col" style="width:150px" class='text-right'>Unit Cost</th>
                    <th scope="col" style="width:150px" class='text-right'>Total Cost</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="text-right" style="font-weight:bold; padding-right: 20px; padding-top:8px">
        Grand Total <span style="color:#2AB106">₱ <span class="units-grand-total">0.00</span></span>
    </div>
</div>